/* pagina index.html*/

.tamanhoDaCaixa {
    max-width: 350px;
    
    padding: 10px;
    border: 1px solid black;

}

.item {
    margin: 5px;
}

/* pagina flex-direction*/

.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 222px;
    
}

.comprimento {
    width: 50px;
    font-size: 25px;
    text-align: center;

}

.proporcao{
flex-wrap: wrap;
}

.proporcaoReversa{
    flex-wrap: wrap-reverse;
}

.row {
    flex-direction: row;

}
.row-reverse {
    flex-direction: row-reverse;

}



.column {
    float: left;
    flex-direction: column;
}

.verde li {
    accent-color: yellowgreen;
}

.column-reverse {
    flex-direction: column-reverse;
    float: right;
}

.qualquer li {
    background-color: violet;
}


/* pagina flex-wrap*/
.laranja li {
    background-color: orange;
}

.vermelho li {
    background-color: red;
}

.verde li {
    background-color: green;
}
