/* pagina index.html*/


.margem {
    margin: 5px;
}
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.eixo-yEsquerda {
    display: flex;
    padding: 0;
    flex-flow: row-reverse wrap;
}

.eixo-yDireita {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.eixo-yEsquerdaReverso {
    flex-flow: row-reverse wrap-reverse;
}

.lista {
    list-style: none;
}


.item{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.quebraDeLinha {
    flex-wrap: wrap;
}

.quebraDeLinhaReversa {
    flex-wrap: wrap-reverse;
}

.direcaoDalinha {
    flex-direction: row;
}

.direcaoDaLinha-reverse {
    flex-direction: row-reverse;
}


.coluna-reverse {
    flex-direction: column-reverse;
    float: right;
}
.coluna{
    flex-direction: column;
    min-height: 200px;
}

.qualquer li {
    background-color: violet;
}

/* cores*/
.laranja li {
    background-color: orange;
}

.vermelho li {
    background-color: red;
}

.verde li {
    background-color: green;
}

.container{
    max-width: 200px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    margin-bottom: 6px;
}

.item{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: white;
}
/* flex-grow*/

.fg-0{
    flex-grow: 0;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.fg-3{
    flex-grow: 3;
}
.w100{
    flex-basis: 50px;
}





