/* pagina index.html*/

.tamanhoDaCaixa {
    max-width: 350px;
    height: 250px;
    border: 2px solid black;
}

.margem {
    margin: 5px;
}
.justificativaFinal{
    justify-content: flex-end;
}

.justificativaCentral{
    justify-content: center;
}


.eixo-yEsquerda{
    display: flex;
    padding: 0;
    flex-flow: row-reverse wrap;
}
.eixo-yDireita{
    padding:0;
    display: flex;
    flex-direction: row;
}
.eixo-yEsquerdaReverso{
    flex-flow: row-reverse wrap-reverse;
}

.comprimento {
    width: 50px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    color: green;
    margin: 2px;
}



.quebraDeLinha{
flex-wrap: wrap;
}

.quebraDeLinhaReversa{
    flex-wrap: wrap-reverse;
}

.direcaoDalinha {
    flex-direction: row;

}
.direcaoDaLinha-reverse {
    flex-direction: row-reverse;

}



.coluna {
    float: left;
    flex-direction: column;
}

.coluna-reverse {
    flex-direction: column-reverse;
    float: right;
}

.qualquer li {
    background-color: violet;
}


/* cores*/
.laranja li {
    background-color: orange;
}

.vermelho li {
    background-color: red;
}

.verde li {
    background-color: green;
}
